[*]

charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
tab_width = 4

dotnet_diagnostic.CS8509.severity = error # The switch expression does not handle all possible values of its input type (it is not exhaustive).

dotnet_diagnostic.CA1000.severity = none # Do not declare static members on generic types
dotnet_diagnostic.CA1002.severity = none # Do not expose generic lists
dotnet_diagnostic.CA1062.severity = none # Validate arguments of public methods
dotnet_diagnostic.CA1510.severity = none # Use ArgumentNullException throw helper
dotnet_diagnostic.CA1511.severity = none # Use ArgumentException throw helper
dotnet_diagnostic.CA1512.severity = none # Use ArgumentOutOfRangeException throw helper
dotnet_diagnostic.CA1805.severity = none # Do not initialize unnecessarily

dotnet_diagnostic.SA1129.severity = none # DoNotUseDefaultValueTypeConstructor
dotnet_diagnostic.SA1201.severity = none # ElementsMustAppearInTheCorrectOrder
dotnet_diagnostic.SA1202.severity = none # ElementsMustBeOrderedByAccess
dotnet_diagnostic.SA1204.severity = none # StaticElementsMustAppearBeforeInstanceElements
dotnet_diagnostic.SA1402.severity = none # FileMayOnlyContainASingleType
dotnet_diagnostic.SA1405.severity = none # DebugAssertMustProvideMessageText
dotnet_diagnostic.SA1611.severity = none # ElementParametersMustBeDocumented
dotnet_diagnostic.SA1615.severity = none # ElementReturnValueMustBeDocumented
dotnet_diagnostic.SA1618.severity = none # GenericTypeParametersMustBeDocumented
dotnet_diagnostic.SA1623.severity = none # PropertySummaryDocumentationMustMatchAccessors
dotnet_diagnostic.SA1633.severity = none # FileMustHaveHeader
dotnet_diagnostic.SA1642.severity = none # ConstructorSummaryDocumentationMustBeginWithStandardText
